label {
	color: blue;
	font-weight:bold;
}

dd.info {
	color: green;
}

dd.error {
	color: red;
}

span.error {
	background-color:red;
	color:white;
	display:block;
	font-weight:bold;
}

table.bikeTable{
	width:50em;
}

td.title {
	font-weight:bold;
	
}